*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Phyrexian;
    src: url(../fonts/Serratus.otf);
}

@font-face {
    font-family: Beleren;
    src: url(../fonts/Beleren.ttf);
}

.phyrexian{
    text-align: center;
    font-family: Phyrexian;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(40, 26, 41);
    justify-content: center;
    padding: 10px;
}

body::after{
    content: "";
    background-image: url(../images/bg.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

main{
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 2vmax;
}

.card-list{
    display: grid;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: 25% 25% 25%;
}

.card{
    font-family: Beleren, Times, sans-serif;
    display: grid;
    grid-template-columns: 100%;
    color: rgb(240, 224, 241); 
    background-color: rgba(110, 80, 113, 0.15);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px 9px 20px -3px rgb(0, 0, 0);
}

.card > *{
    border-radius: 10px
}

.card h1{
    font-size: calc(14px + 0.390625vw);
}

.card h1, .card h2{
    display: inline-flex;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    padding: 2px 5px;
    border-radius: 10px;
}

.card h2{
    font-size: calc(12px + 0.390625vw);
}

.card h2> div, .card h1> div {
    overflow: hidden;
    margin: 0 5px;
}

.card h1 i{
    font-size: 1rem;
    margin: 0 1px;
}

.card img{
    box-sizing: border-box;
    padding: 5px 5px;
    width: 100%;
    border-radius: 0px;
}

.card > div{
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
}

.card p{
    font-size: calc(12px + 0.390625vw);
    text-align: left;
    line-height: 20pt;
}

.card .flavor{
    font-style: italic;
}

.card .pt-marker{
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}

.card .pt-marker>p{
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 10px;
}

/*Custom Icon Sizing*/
.ss-1-5x {
    font-size: 1.5em;
}

@media (max-width:641px)  { 
    .card{
        width: 100%;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }