*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Phyrexian;
    src: url(../fonts/Serratus.otf);
}

@font-face {
    font-family: Beleren;
    src: url(../fonts/Beleren.ttf);
}

.phyrexian{
    text-align: center;
    font-family: Phyrexian;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(40, 26, 41);
    min-height: 200vh;
    display: flex;
    justify-content: center;
}

body::after{
    content: "";
    background-image: url(../images/bg.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.container{
    padding: 5% 10%;
    width: 80%;
}

main{
    text-align: justify;
    font-size: 2vmax;
    padding: 20px;
}

.card{
    font-family: Beleren, Times, sans-serif;
    font-weight: normal !important;
    display: grid;
    grid-template-columns: 100%;
    width: 350px;
    background: rgb(40, 26, 41);
    background: #fdffee;
    color: black;
    border-radius: 10px;
    box-shadow: -8px 9px 16px -3px rgb(0, 0, 0);
}

.card > *{
    border-radius: 10px
}

.card h1{
    font-size: calc(14px + 0.390625vw);
}

.card h1, .card h2{
    display: inline-flex;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    border-radius: 10px;
    padding: 2px 5px;
    border: 3px solid rgb(74, 51, 74);
}

.card h2{
    font-size: calc(12px + 0.390625vw);
    border-top: none;
}

.card i {
    padding: 0 5px;
}

.card img{
    box-sizing: border-box;
    padding: 5px 5px;
    width: 100%;
    border-radius: 0px;
}

.card > div{
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
}

.card p{
    font-size: calc(10px + 0.390625vw);
    text-align: left;
    line-height: 20pt;
}

.card .flavor{
    font-style: italic;
}


/*Custom Icon Sizing*/
.ss-1-5x {
    font-size: 1.5em;
}