*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Phyrexian;
    src: url(../fonts/Serratus.otf);
}

@font-face {
    font-family: Beleren;
    src: url(../fonts/Beleren.ttf);
}

.phyrexian{
    text-align: center;
    font-family: Phyrexian;
}

body{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(40, 26, 41);
}

body::after{
    content: "";
    background-image: url(../images/bg.jpg);
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}


header{
    padding: 0 20%;
    font-family: Beleren, Times, sans-serif;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgba(45, 32, 50, 0.7);
    box-shadow: -4px 10px 10px -3px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

header img{
    height: 100px;
}

header h1{
    display: block;
    justify-self: end;
}

main{
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    text-align: justify;
    font-size: 2vmax;
}

.card-list{
    display: grid;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: 25% 25% 25%;
    grid-row-gap: 30px;
}

.card{
    font-family: Beleren, Times, sans-serif;
    display: grid;
    grid-template-columns: 100%;
    color: rgb(240, 224, 241); 
    background-color: rgba(110, 80, 113, 0.15);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px 9px 20px -3px rgb(0, 0, 0);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: 0.2s ease 0s;
    transition: 0.2 ease 0s;
}

.card:hover{
    background-color: rgba(43, 28, 44, 0.7);
    transform: translateY(0px);
    transition: 0.2 ease 0s;
}

.card > *{
    border-radius: 10px
}

.card h1{
    font-size: calc(14px + 0.390625vw);
}

.card h1, .card h2{
    display: inline-flex;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    padding: 2px 5px;
    border-radius: 10px;
}

.card h2{
    font-size: calc(12px + 0.390625vw);
}

.card h2> div, .card h1> div {
    overflow: hidden;
    margin: 0 5px;
}

.card h1 i{
    font-size: 1rem;
    margin: 0 1px;
}

.card img{
    justify-self: center;
    box-sizing: border-box;
    padding: 5px 5px;
    width: 350px;
    height: 255px;
    object-fit: cover;
    object-position: 75% 25%;
    border-radius: 0px;
}

.card > div{
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
}

.card p{
    font-size: calc(12px + 0.390625vw);
    text-align: left;
    line-height: 20pt;
}

.card .flavor{
    font-style: italic;
}

.card .pt-marker{
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}

.card .pt-marker>p{
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 10px;
    height: 40px;
}

/*Custom Icon Sizing*/
.ss-1-5x {
    font-size: 1.5em;
}

@media (min-width:1600px){
    .card-list{
        grid-template-columns: 20% 20% 20% 20%;
    }
}

@media (max-width:1120px)  { 
    .card-list{
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }
}

@media (max-width:840px)  { 
    main{
        width: 90%;
    }
    .card-list{
        grid-template-columns: 100%;
        justify-content: space-around;
    }
}

@media (max-width:500px)  { 
    header{
        grid-template-columns: 100%;
        justify-content: center;
    }
    
    header h1{
        display: none;
    }
}